<a href="https://colab.research.google.com/github/19K41A05F3/Python-Assignments/blob/master/Python_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 
#Question-1
y=int(input("Enter year"))
if y%12==0 :
  print ("monkey")
elif y%12==1 :
  print ("rooster")
elif y%12==2 :
  print ("dog")
elif y%12==3 :
  print ("pig")
elif y%12==4 :
  print ("rat")
elif y%12==5 :
  print ("ox")
elif y%12==6 :
  print ("tiger")
elif y%12==7 :
  print ("rabbit")
elif y%12==8 :
  print ("dragon")
elif y%12==9 :
  print ("snake")
elif y%12==10 :
  print ("horse")
elif y%12==11 :
  print ("sheep")
else :
  print ("invalid")

Enter year2002
horse

In [ ]:

#Question-2
d=float(input("Distance to be travelled"))
w=float(input("Weight of goods : "))
if d>=500 :
  if w>=100 :
    d=d*5
    print("Amount to be charged : ",d)
  elif w>=10 and w<100 :
     d=d*6
     print (" Amount to be charged : ",d)
  elif w<10 :
     d=d*7
     print ("Amount to be charged : ",d)
elif d<500 :
  if w>=100 :
    d=d*8
    print ("Amount to be charged : ", d)
  elif w<100 : 
    d=d*5
    print ("Amount to be charged : ",d)
else :
  print ("invalid")

Distance to be travelled520
Weight of goods : 20
 Amount to be charged :  3120.0

In [ ]:

#Question-3
print ("Stall=625")
print ("Circle=750")
print ("Upper_class=850")
print ("Box=1000")
op=input("Type of seat")
pm=input("Payment mode")
if op == "Stall" :
   if pm == 'Cash' :
     print("Cost of ticket : ",(625-((625*10)/100)))
   elif pm == 'Credit' :
     print("Cost of ticket : ",(625-((625*5)/100)))
elif op == "Circle" :
   if pm == 'Cash' :
     print("Cost of ticket : ",(750-((750*10)/100)))
   elif pm == 'Credit' :
     print("Cost of ticket : ",(750-((750*5)/100)))
elif op == "Upper_class" :
   if pm == 'Cash' :
     print("Cost of ticket : ",(850-((850*10)/100)))
   elif pm == 'Credit' :
     print("Cost of ticket : ",(850-((850*5)/100)))
elif op == "Box" :
   if pm == 'Cash' :
     print("Cost of ticket : ",(1000-((1000*10)/100)))
   elif pm == 'Credit' :
     print("Cost of ticket : ",(1000-((1000*5)/100)))
else :
  print ("invalid")

Stall=625
Circle=750
Upper_class=850
Box=1000
Type of seatStall
Payment modeCash
Cost of ticket :  562.5

In [ ]:

#Question-4
m=float(input("Enter the weight of water in kilograms"))
i=float(input("Enter the initial temperature of water in degree Celsius"))
f=float(input("Enter the final temperature of water in degree Celsius"))
q=m*(f-i)*4184
print ("Energy in joules is ",q)

Enter the weight of water in kilograms56
Enter the initial temperature of water in degree Celsius78
Enter the final temperature of water in degree Celsius89
Energy in joules is  2577344.0

In [ ]:

#Question-5
s=input ("Enter season")
if s=="Winter" :
  print ("December, January and February")
elif s=="Spring" :
  print ("March, April and May")
elif s=="Summer" :
  print ("June, July and August")
elif s=="Autumn" :
  print ("September, October and November")
else : 
  print ("invalid")

Enter seasonWinter
December, January and February

In [ ]:

#Question-6
w=float(input("Enter the weight in pounds"))
m=0.45359237*w
h=float(input("Enter the height in inches"))
i=0.0254*h
b=(m/(i**2))
print (b)
if(b<18.5) :
 print ("Underweight")
elif(b>=18.5 and b<25.0) :
 print ("Normal")
elif(b>=25.0 and b<30.0) :
 print (" Overweight")
elif(b>=30.0) :
 print ("Obese")

Enter the weight in pounds12
Enter the height in inches12
58.589131636596626
Obese

In [ ]:

#Question-7
i=int(input("Enter an integer from 100 to 1000"))
s=0
while(i>0) :
  r=i%10
  i=i//10 
  s=s+r
print("Sum=",s)

Enter an integer from 100 to 1000678
Sum= 21

In [ ]:
 #Question-8
print ("Palindromes are:")
for m in range(1,1001) :
  i=m
  sum=0
  while(i>0) :
    rev=i%10
    i=i//10
    sum=(sum*10)+rev
  if(m==sum) :
    print (m)

Palindromes are:
1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

In [ ]:
 #Question-9
print ("Armstrong numbers : ")
for m in range(1,1001) :
  i=m
  sum=0
  while(i>0):
    rev=i%10
    i=i//10
    sum=sum+(rev**3)
  if(m==sum) :
    print (m)

Armstrong numbers :
1
153
370
371
407

In [ ]:
 
#Question-10
for i in range(1,101) :
  if i%3==0 and i%5==0 :
    print ("fizz buzz")
  elif i%5==0 :
    print ("Buzz")
  elif (i%3==0) :
    print ("Fizz")
  else :
    print (i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
#Question-11
H=int(input("Enter the height of the well"))
U=int(input("Enter the meters climbed by the spider "))
D=int(input("Enter the meters sliped down by the spider"))
N=((H-U)+(U-D))//(U-D)
print(N+1)

Enter the height of the well200
Enter the meters climbed by the spider 50
Enter the meters sliped down by the spider1
5